//- index.pug
doctype html
html
  head
    title The J's Academy
    style
      include ../static/style.css
  body
    nav#navbar 
        ul 
            div#logo
                img(src="/static/img/logo.jpg", alt="")
                p#logo-p J's
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Classes Info]
            li #[a(href="/") Contact Us]


    section#introSection   
        div Welcome to the J's Dance Academy 
        div.small Eat Sleep Dance Repeat  
    
    section#missionSection 
        h2 Our mission
        div.card
            h3 Dance Perfection 
            div.card-box
                div.card-img
                    img(src="/static/img/pose1.png", alt="")
            div.card-content
                p This is the best dance academy of the universe
        div.card
            h3 Dance the way you like 
            div.card-box
                div.card-img
                    img(src="/static/img/pose2.jpg", alt="")
            div.card-content
                p This is the best dance academy of the universe
        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/pose3.png", alt="")
            div.card-content
                p This is the best dance academy of the universe

    section#sponsorsSection 
        h2 Our sponsor's
        div#sponsors
            img(src="/static/img/fb.png", alt="Sponser Image"  , class="spimage")
            img(src="/static/img/google.png", alt="Sponser Image"  , class="spimage")
            img(src="/static/img/microsoft.jpg", alt="Sponser Image"  , class="spimage")
            img(src="/static/img/skype.png", alt="Sponser Image"  , class="spimage")

    footer#footer 
        | Copyright © 2021 J's Dance academy

    script
      include ../static/index.js